<ul>
  {{#each records}}
  <li>
    {{{this.name}}}
    <a href="/record/{{{this.id}}}/edit">修改</a>
    <form action="/record/{{{this.id}}}/delete?_method=DELETE" method="POST">
      <button type="submit">刪除</button>
    </form>
  </li>
  {{/each}}
</ul>
<a href="/record/new">新增支出</a>