<form action="/record" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="date" name="date">
  <input type="text" placeholder="category" name="category">
  <input type="text" placeholder="amount" name="amount">
  <button type="submit">新增支出</button>
</form>