<form action="/record" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="date" placeholder="date" name="date">
  <select type="text" name="category">
    <option>home</option>
    <option>traffic</option>
    <option>entertainment</option>
    <option>food</option>
    <option>other</option>
  </select>
  <input type="text" placeholder="amount" name="amount">
  <button type="submit">新增支出</button>
</form>